body {
  max-width: 95%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  /* border: 1px solid black; */
}

dl {
  margin: 0 0 0 0;
}

.header {
  flex-wrap: wrap;
  /* max-height: 10%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 60px 0;
}

.header p {
  color: grey;
}

.nav {
  flex-wrap: wrap;
  max-height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header img {
  height: 100px;
  float: left;
}

.content {
  flex-wrap: wrap;
  /* max-height: 10%; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
}

.left {
  /* padding: 60px 0 100px 0px; */
  /* width: 65%; */
  width: 75%;
}

.left img {
  padding: 0 30px 0 0;
  float: left;
}

.left p {
  font-size: 20px;
  /* font-weight: bold; */
}

.right {
  width: 20%;
  /* padding: 0 0 100px 0px; */
  /* margin: 60px 0 100px 0; */
  /* padding: 30px 0px; */
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  /* padding: 30px 30px 30px 30px; */
}

.news {
  color: #6f93ce;
  /* padding: 0px 60px 0px 60px; */
  /* display: inline-block; */
  /* height: auto; */
  width: 80%;
  /* list-style-position: outside; */
}

.news li {
  margin-bottom: 5px;
}

.right h1 {
  padding: 0px 20px 0px 20px;
}

.styled {
  background-color: #6f93ce;
  /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.styled:hover {
  background-color: #B0B0B0;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled:focus {
  outline:0;
  !important;
}
