/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #999;

}

.card {
  width: 350px;
  height: 220px;
  margin: 50px auto;
  background-color: #3583EE;
  border: 2px solid black;
  border-radius: 15px;
}

.card header {
  /* box-sizing: border-box; */
  border-radius: 15px 15px 0 0;
  margin: 15px 0 15px 15px;
  /* font-size: 14px; */

}

.card footer {
  border-radius: 0 0 15px 15px;
  margin: 15px 0 0 15px;
  /* font-size: 14px; */
}

.card article img {
  max-height: 100%;
  float: right;
  border-radius: 5% 0 0 5%;
}
.card article {
  /* margin: 0 0px 0 0px; */
  box-sizing: border-box;
  width: 350px;
  height: 125px;

}

.card article p{
  padding: 15px;
  color: white;
  /* margin: 10px 10px 0 10px; */
  box-sizing: border-box;
  width: 350px;
  height: 125px;
  background-color: #1A4876;

}
